@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.App {
  margin: 0 auto;
  
}

.icon {
  text-align: end;
 
}

.material-icons {
  width: 20px;
}

.card-veiw {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 20px;
}

.list-veiw {
  list-style-type: none; 
}

.card {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 50px 50px;
  padding: 10px;
  width: 20%;
  background-color:#f8f8f8;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.item {
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  padding: 5px 10px;
  margin-bottom: 5px ;
}

.card_name {
  font-size: large;
}

.card_color {
  font-size: small;
}

.img-card {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px; 
}

.footer {
  display: flex;
  color: red;
  justify-content: space-between;
}

.card_price {
  font-size: medium;
  color: red;
}

.btn {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid red;
  color: red; 
}

.item-img {
  width: 50px;
}